In [ ]:
#importar desde drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Lanzamiento de dos dados

## Diccionarios:

$$\{\text{key}:\text{values}\}.$$

In [ ]:
#genera el objeto d
d = {"César": ["Masha", "Mila", "Sneg"],
     "Julio": [3, 10, 12],
     "Gal": [7.0, 5.0, 6.0]}

In [ ]:
#type indica que tipo de objeto es d, es un diccionario
type(d)

dict

In [ ]:
d.keys() # es un objeto que contiene las llaves de un diccionario, cesar, julio y gal

dict_keys(['César', 'Julio', 'Gal'])

In [ ]:
# que tipo de objeto de d.keys
type(d.keys())

dict_keys

In [ ]:
#combierte el objeto en una lista
#ejecuta la primera llave (cesar), python cuenta desde cero
list(d.keys())[0]

'César'

In [ ]:
#muestra los valores asociados al objeto d, que es un diccionario
d.values()

dict_values([['Masha', 'Mila', 'Sneg'], [3, 10, 12], [7.0, 5.0, 6.0]])

In [ ]:
#hace una tupla de la lista que contiene las llaves y el valor,
#t0 pide el primer elemento
#type confirma que es una tupla
t = list(d.items())
t[0]
type(t[0])

tuple

## Se lanzan dos dados justos:

- $\Omega = \{1,2,3,4,5,6\}\times \{1,2,3,4,5,6 \}$.
- $\mathcal{F}=p(\Omega)$.
- Para $\omega=(i,j)$ donde $i, j=1,\dots, 6$
$$\mathbb{P}(\{\omega\})=\frac{1}{36}.$$

-----

## Vamos a definir a la siguiente variable aleatoria:
$S$ es la variable aleatoria que cuenta la suma de las caras de los dados.

$$S:\Omega \to R_{S}=\{2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 \}$$

Para entender a la ley de la variable aleatoria, basta con entender a los siguientes datos:
$$\{(k, \mathbb{P}(S=k)) \}_{k\in R_{S}}.$$

Veamos a $S$ como eventos. Sea $S_{n}$ el evento la suma de las caras es $n$.

In [ ]:
#importa librerias?
from itertools import product
from fractions import Fraction

In [ ]:
#funcion que calcula probabilidad, a: exitos, omega: muestra
def P(A, Omega):
  P = Fraction(len(A), len(Omega) )
  return P

$$S_{n}=\{(i,j)\in \Omega : i+j =n \}$$

In [ ]:
#genera el objeto s_2, donde "i" y "j" toman los valores del 1 al 6, "if" filtra los valores de "i" y "j" que suman 2 (solo es posible 1+1)
S_2 = {(i,j) for i in range(1,7) for j in range(1,7) if i+j == 2 }
S_2

{(1, 1)}

In [ ]:
#genera L, una lista del 1 al 6
L = [i for i in range(1,7)]

#Hace un conjunto (un resultado de cada uno) con el producto de L repetido 2 veces

Omega = set(product(L, repeat =2 ))
Omega

{(1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6)}

In [ ]:
#genera S, diccionario donde i,j es la llave e i+j el valor en el conjunto omega
S = {(i,j): i+j for i,j in Omega}

S

{(3, 4): 7,
 (4, 3): 7,
 (3, 1): 4,
 (5, 4): 9,
 (4, 6): 10,
 (5, 1): 6,
 (2, 2): 4,
 (1, 6): 7,
 (2, 5): 7,
 (1, 3): 4,
 (6, 2): 8,
 (6, 5): 11,
 (4, 2): 6,
 (4, 5): 9,
 (3, 3): 6,
 (5, 6): 11,
 (3, 6): 9,
 (5, 3): 8,
 (2, 4): 6,
 (1, 2): 3,
 (2, 1): 3,
 (1, 5): 6,
 (6, 1): 7,
 (6, 4): 10,
 (3, 2): 5,
 (4, 1): 5,
 (3, 5): 8,
 (5, 2): 7,
 (4, 4): 8,
 (5, 5): 10,
 (1, 1): 2,
 (1, 4): 5,
 (2, 3): 5,
 (2, 6): 8,
 (6, 6): 12,
 (6, 3): 9}

In [ ]:
#de la libreria collections se importa la funcion defaultdict, aplica un valor a una llave por defecto
from collections import defaultdict
#genera ds con un set vacio
dS = defaultdict(set)
dS

defaultdict(set, {})

In [ ]:
#trae el objeto s en pares, la llave y el valor
S.items()

dict_items([((3, 4), 7), ((4, 3), 7), ((3, 1), 4), ((5, 4), 9), ((4, 6), 10), ((5, 1), 6), ((2, 2), 4), ((1, 6), 7), ((2, 5), 7), ((1, 3), 4), ((6, 2), 8), ((6, 5), 11), ((4, 2), 6), ((4, 5), 9), ((3, 3), 6), ((5, 6), 11), ((3, 6), 9), ((5, 3), 8), ((2, 4), 6), ((1, 2), 3), ((2, 1), 3), ((1, 5), 6), ((6, 1), 7), ((6, 4), 10), ((3, 2), 5), ((4, 1), 5), ((3, 5), 8), ((5, 2), 7), ((4, 4), 8), ((5, 5), 10), ((1, 1), 2), ((1, 4), 5), ((2, 3), 5), ((2, 6), 8), ((6, 6), 12), ((6, 3), 9)])

In [ ]:
#pone l y v que son llave y valor en s.items
#ds es el objeto que le crea los valores a la llaves por de foul,
#si v (valor) no existe, se crea con el set vacio
for l, v in S.items():
  dS[v].add(l)

In [ ]:
#imprime lo anterior
dS

defaultdict(set,
            {7: {(1, 6), (2, 5), (3, 4), (4, 3), (5, 2), (6, 1)},
             4: {(1, 3), (2, 2), (3, 1)},
             9: {(3, 6), (4, 5), (5, 4), (6, 3)},
             10: {(4, 6), (5, 5), (6, 4)},
             6: {(1, 5), (2, 4), (3, 3), (4, 2), (5, 1)},
             8: {(2, 6), (3, 5), (4, 4), (5, 3), (6, 2)},
             11: {(5, 6), (6, 5)},
             3: {(1, 2), (2, 1)},
             5: {(1, 4), (2, 3), (3, 2), (4, 1)},
             2: {(1, 1)},
             12: {(6, 6)}})

In [ ]:
#trae el objeto ds en pares (llave, valor)
dS.items()

dict_items([(7, {(3, 4), (4, 3), (6, 1), (1, 6), (2, 5), (5, 2)}), (4, {(3, 1), (1, 3), (2, 2)}), (9, {(4, 5), (5, 4), (6, 3), (3, 6)}), (10, {(4, 6), (6, 4), (5, 5)}), (6, {(2, 4), (1, 5), (5, 1), (4, 2), (3, 3)}), (8, {(4, 4), (6, 2), (2, 6), (5, 3), (3, 5)}), (11, {(5, 6), (6, 5)}), (3, {(1, 2), (2, 1)}), (5, {(2, 3), (3, 2), (4, 1), (1, 4)}), (2, {(1, 1)}), (12, {(6, 6)})])

In [ ]:
# genera leys, diccionario donde p calcula la aprobablidiad de k (suma) con el numero de pares entre el total
leyS = {k : P(A,Omega) for k , A in dS.items() }
leyS

{7: Fraction(1, 6),
 4: Fraction(1, 12),
 9: Fraction(1, 9),
 10: Fraction(1, 12),
 6: Fraction(5, 36),
 8: Fraction(5, 36),
 11: Fraction(1, 18),
 3: Fraction(1, 18),
 5: Fraction(1, 9),
 2: Fraction(1, 36),
 12: Fraction(1, 36)}

## Introducción a pandas.

In [ ]:
#importa libreria pandas
import pandas as pd

In [ ]:
# con pandas leys se combierte en una serie, el indice es la suma y el valor la probabilidad
leyS = pd.Series(leyS)
#ordena de la serie de menor a mayor
leyS = leyS.sort_index()

In [ ]:
leyS

2     1/36
3     1/18
4     1/12
5      1/9
6     5/36
7      1/6
8     5/36
9      1/9
10    1/12
11    1/18
12    1/36
dtype: object

### Ejercicios:
1.- Documenta tu colab.

2.- Calcula la ley de las siguientes variables aleatorias:

1.          - La diferencia de las caras sea mayor que $1$.

    - La suma de las caras sea par.

3.- Verifica, en cada caso, que $$\sum_{k\in R_{X}}\mathbb{P}(X=x)=1.$$

4.- Sube tu notebook a tu GitHub.

In [ ]:
dif_gt_1 = {(i, j) for (i, j) in Omega if abs(i - j) > 1}
P_dif_mayor_1 = P(dif_mayor_1, Omega)
print(P_dif_mayor_1)

5/9

In [ ]:
suma_par = {(i, j) for (i, j) in Omega if (i + j) % 2 == 0}
P_suma_par = P(suma_par, Omega)
print(P_suma_par)

1/2